body {
  margin: 0;
  font-family: 'Nunito Sans';
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  color: #b4bbc3
}

textarea::placeholder {
  color: #b4bbc3
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
